body{
	background-color: #ddd;
}

.login-container{
	background: #444;
	margin: 300px auto;
	padding: 15px 20px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	width: fit-content;
	transition: all 0.5s ease;
}

.default-text-field{
	width: 300px;
	height: 30px;
	margin: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	border-radius: 5px;
	border: none;
	background-color: #eee;
}

.default-button{
	background-color: #84cdcf;
	color: #000000;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.5s ease;
	height: 40px;
	width: 94%;
	margin: 10px;
}

.default-button:hover {
	background-color: #177275;
	color: #dadada;
}

.login-header{
	text-align: center;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #84cdcf;
	margin: 5%;
}